@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular/font.eot');
  src: local('☺'), 
       url('../fonts/roboto-regular/font.woff') format('woff'), 
       url('../fonts/roboto-regular/font.ttf') format('truetype'), 
       url('../fonts/roboto-regular/font.otf') format('otf'), 
       url('../fonts/roboto-regular/font.svg') format('svg');
}

@font-face {
  font-family: 'muli';
  src: url('../fonts/muli-regular/font.eot');
  src: local('☺'), 
       url('../fonts/muli-regular/font.woff') format('woff'), 
       url('../fonts/muli-regular/font.ttf') format('truetype'), 
       url('../fonts/muli-regular/font.otf') format('otf'), 
       url('../fonts/muli-regular/font.svg') format('svg');
}

@font-face {
  font-family: 'muli-black';
  src: url('../fonts/muli-black/font.eot');
  src: local('☺'), 
       url('../fonts/muli-black/font.woff') format('woff'), 
       url('../fonts/muli-black/font.ttf') format('truetype'), 
       url('../fonts/muli-black/font.otf') format('otf'), 
       url('../fonts/muli-black/font.svg') format('svg');
}

@font-face {
  font-family: 'muli-light';
  src: url('../fonts/muli-light/font.eot');
  src: local('☺'), 
       url('../fonts/muli-light/font.woff') format('woff'), 
       url('../fonts/muli-light/font.ttf') format('truetype'), 
       url('../fonts/muli-light/font.otf') format('otf'), 
       url('../fonts/muli-light/font.svg') format('svg');
}


@font-face {
  font-family: 'muli-bold';
  src: url('../fonts/muli-bold/font.eot');
  src: local('☺'),
       url('../fonts/muli-bold/font.woff') format('woff'), 
       url('../fonts/muli-bold/font.ttf') format('truetype'), 
       url('../fonts/muli-bold/font.otf') format('otf'), 
       url('../fonts/muli-bold/font.svg') format('svg');
}


@media ( min-width: 768px ){
}
@media ( min-width: 991px ){
}
@media ( min-width: 1280px ){
}
@media ( min-width: 1536px ){
}
